---
import ProductAccesorio from '../../../components/ProductAccesorio.astro';
import Kits from '../../../assets/accesorios/kits.png';
import ProductSecondary from '../../../assets/yellow-coffee/secondary-340.png';
import Estilo from '../../../assets/accesorios/estilo.png';

//Desktop
import KitsDesktop from '../../../assets/desktop/accesorios/products/kit@3x.png';
import Banner from '../../../assets/desktop/accesorios/Banner yellow con manos@2x.png';
import ProductDetail from '../../../components/desktop/ProductDetail.astro';
---

<div class="md:hidden">
  <ProductAccesorio
    imagenProducto={Kits}
    imagenSecondary={ProductSecondary}
    nombreProducto={'Kits'}
    descripcionesProducto={[
      {
        titulo: 'Kit',
        descripcion: '',
      },
    ]}
    estilo={Estilo}
  />
</div>
<div class="hidden md:block">
  <ProductDetail
    ProductDetailImg={KitsDesktop}
    Drip={false}
    Mush={false}
    title={'Café 40gr'}
    Banner={Banner}
  />
</div>
