---
import ProductMush from '../../../components/ProductMush.astro';
import Product340 from '../../../assets/mush-coffee/340gr.png';
import SecondaryImg from '../../../assets/mush-coffee/secondary-340.png';
import ProductDetail from '../../../components/desktop/ProductDetail.astro';

//Desktop
import Mush340 from '../../../assets/desktop/mush/products/Mush 340@3x.png';
---

<div class="md:hidden">
  <ProductMush
    imagenProducto={Product340}
    imagenSecondary={SecondaryImg}
    nombreProducto="340gr"
    cantidades={[
      {
        titulo: 'Presentación 340gr',
        descripcion: 'Café de especialidad',
        description2: "+ Lion's Mane",
        precio: '$ 20.000',
      },
    ]}
  />
</div>
<div class="hidden md:block">
  <ProductDetail
    ProductDetailImg={Mush340}
    Drip={false}
    Mush={true}
    title={'Café 340'}
  />
</div>
