---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

// Imagenes
import CoffeeImageMain from '../assets/Foto_de_las_frutas.png';
import CreadoConAmorTitle from '../assets/Creado_con_Amor.png';
import YellowCoffeeTitle from '../assets/Sello_Logo_completo.svg';
import PersonasTomandoCafe from '../assets/PersonasTomandoCafe.png';

import ProductYellow from '../assets/Cafe_340.png';
import ProductBlue from '../assets/Yellow_Drip.png';
import ProductGray from '../assets/Mush_Coffee_drip.png';
import ProductRed from '../assets/Mush_Coffe.png';
import ProductOrange from '../assets/cafe_2500.png';
import ProductPink from '../assets/Accesorios.png';

import PerritoNegro from '../assets/Perro@4x.png';
import DistribuidorTitle from '../assets/distribuidorConfianzaTitle.png';
---

<Layout title="Bienvenido a Yellow Coffee.">
  <main>
    <section
      id="home"
      class="w-full flex flex-col items-center mb-8 md:flex-row md:py8"
    >
      <div class="md:ml-10 md:mt-10">
        <h1 hidden>Bienvenido a Yellow Coffee.</h1>
        <Image
          class="max-w-[full]"
          src={CoffeeImageMain}
          alt="Imagen de manos cargando frutas"
        />
      </div>
      <div>
        <div class="w-full flex justify-center items-center">
          <Image
            class="max-w-full px-4 mt-8 md:w-1/2"
            src={CreadoConAmorTitle}
            alt="Titulo principal: Creado con amor"
          />
        </div>
        <div class="md:ml-10 px-5 flex">
          <p class="text-center text-2xl font-principal md:text-3xl md:px-2">
            El valor del individuo está no solo en sí mismo, sino en la
            comunidad y viceversa, es la lógica del ‘soy porque somos’.
          </p>
        </div>
      </div>
    </section>
    <div
      class="my-8 mx-auto divider border-t-4 w-4/5 border-gray-300 border-solid md:mt-14 md:w-11/12"
    >
    </div>
    <section
      class="w-full flex flex-col mt-2 mb-4 md:flex-row md:justify-evenly"
    >
      <div class="flex flex-col items-center justify-center mb-8 md:w-1/2">
        <Image
          alt={'Titulo secundario: Yellow Coffe'}
          src={YellowCoffeeTitle}
          class="w-1/2"
        />
        <p class="px-10 text-center font-light text-2xl md:text-3xl md:px-6">
          Una marca enfocada en expandir lo creado con amor a partir de los
          vínculos que tenemos desde espacios colectivos y sociales.
        </p>
      </div>
      <div class="flex flex-col items-center md:w-1/2">
        <Image
          class="w-full"
          alt={'Imagen de dos personas tomando café'}
          src={PersonasTomandoCafe}
        />
      </div>
    </section>
    <section id="products" class="flex flex-col items-center md:my-10">
      <div>
        <h2 class="mb-4 font-bold md:text-3xl md:mb-8">
          Nuestros <span id="text-naranja" class="text-naranja">Productos</span
          >.
        </h2>
      </div>
      <div class="md:flex md:flex-row">
        <div class="md:w-1/3">
          <Image src={ProductYellow} alt={'Producto café 340'} />
        </div>
        <div class="md:w-1/3">
          <Image src={ProductBlue} alt={'Producto café coffee drip'} />
        </div>
        <div class="md:w-1/3">
          <Image src={ProductGray} alt={'Producto café mush coffee'} />
        </div>
      </div>
      <div class="md:flex md:flex-row">
        <div class="md:w-1/3">
          <Image src={ProductRed} alt={'Producto café mush coffee'} />
        </div>
        <div class="md:w-1/3">
          <Image src={ProductOrange} alt={'Producto café 2500'} />
        </div>
        <div class="md:w-1/3">
          <Image src={ProductPink} alt={'Producto café Accesorios'} />
        </div>
      </div>
    </section>
    <section id="contact" class="pt-8 md:pt-12 w-full md:flex md:flex-row">
      <div class="flex flex-col pl-12 md:pl-28 w-9/12 md:w-7/12 pb-20">
        <h2 class="text-3xl mb-6 md:text-7xl font-bold md:mb-10">
          Contáctanos.
        </h2>
        <h3 class="mb-4 text-2xl font-bold md:text-4xl md:mb-10">
          Ventas por Whatsapp
        </h3>
        <p class="text-xl mb-8 md:text-3xl">
          <span class="text-green-600">Whatsapp</span> es un medio muy
          conveniente para hacer pedidos de forma rápida y sencilla. Tú puedes
          escribirnos o llamarnos al número <br />
          <span>+(57) 3196117933.</span>
        </p>
        <Image
          src={DistribuidorTitle}
          alt={'Titulo '}
          class="mb-4 w-fit md:w-10/12"
        />
        <p class="font-principal text-xl mb-6 relative z-10 md:text-3xl">
          Para un contacto corporativo, por favor envíanos un correo a
          <span class="text-naranja">yellowcoffeecol@gmail.com.</span>
        </p>
      </div>
      <div class="-mt-5 md:mt-0 self-end">
        <Image src={PerritoNegro} alt={'Perrito negro'} class="-mt-24" />
      </div>
    </section>
  </main>
</Layout>
