---
import Logo from '../assets/components/footer/logo-footer.svg';
import Facebook from '../assets/components/footer/facebook.svg';
import Instagram from '../assets/components/footer/instagram.svg';
import Whatsapp from '../assets/components/footer/whatsapp.svg';
import bgImage from '../assets/components/footer/logo-contacto-recortado.svg';
import { Image } from 'astro:assets';
import AcercaDeNosotrosImg from '../assets/AcercaDeNosotrosFooter.png';

const bgImageUrl = bgImage.src;
---

<footer class="w-full">
  <div class="pl-8">
    <Image src={Logo} alt={'Logo de Yellow Coffee'} />
  </div>
  <div class="flex pl-8">
    <div id="left" class="w-1/2 flex flex-col justify-around">
      <div>
        <ul class="text-white/80 flex flex-col">
          <li class="uppercase"><a href="">Yellow Coffee</a></li>
          <li class="mt-2 uppercase"><a href="">Mush Coffee</a></li>
          <li class="mt-2 uppercase"><a href="">Accesorios</a></li>
          <li class="mt-4">
            <a href="/nosotros"
              ><Image src={AcercaDeNosotrosImg} alt={'acerca de nosotros'} /></a
            >
          </li>
          <li class="mt-4 uppercase"><a href="/contacto">Contáctanos</a></li>
        </ul>
      </div>
      <div class="flex gap-3">
        <a href="">
          <Image src={Instagram} alt={'Logo de instagram'} />
        </a>
        <a href="">
          <Image src={Whatsapp} alt={'Logo de Whatsapp'} />
        </a>
        <a href="">
          <Image src={Facebook} alt={'Logo de Facebook'} />
        </a>
      </div>
    </div>
    <div id="right" class="w-1/2 flex self-end">
      <Image src={bgImage} alt={'Imagen de logo de perrito'} />
    </div>
  </div>
  <div class="h-11">
    <h3 class="text-center text-white/80">
      Diseñado por <a href="https://www.exportsFlavor.co">exportsFlavor.co</a>
    </h3>
  </div>
</footer>

<style>
  footer {
    background-color: #62c6d1;
    height: 100vh;
  }
  #right {
    background-image: url();
  }
</style>
